<h1>Listing picture_comments</h1>

<table>
  <thead>
    <tr>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @picture_comments.each do |picture_comment| %>
      <tr>
        <td><%= picture_comment.comment %></td>
        <td><%= link_to 'Show', picture_comment %></td>
        <td><%= link_to 'Edit', edit_picture_comment_path(picture_comment) %></td>
        <td><%= link_to 'Destroy', picture_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Picture comment', new_picture_comment_path %>
