<h1>Listing video_comments</h1>

<table>
  <thead>
    <tr>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @video_comments.each do |video_comment| %>
      <tr>
        <td><%= video_comment.comment %></td>
        <td><%= link_to 'Show', video_comment %></td>
        <td><%= link_to 'Edit', edit_video_comment_path(video_comment) %></td>
        <td><%= link_to 'Destroy', video_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Video comment', new_video_comment_path %>
