<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Contact Me</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <p>Feel free to send a message!</p>
            </div>
            <div class="col-lg-4 text-center">
                <p>If you are inquring about setting up an event please include detail in the message!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
<form name="sentMessage" id="contactForm" novalidate>
    <%= bootstrap_form_for (@contact) do |f| %>
      <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">

          <%= f.text_field :name, :required => true %>
        </div>
      </div>
      <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">

          <%= f.text_field :email, :required => true %>
        </div>
      </div>
      <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">

           <%= f.text_field :message, :as => :text, :required => true %>
        </div>
      </div>
      <div class= "hidden">
        <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
      </div>
      </br>
          <div class="row">
            <div class="form-group col-xs-12">
              <button type="submit" class="btn btn-success btn-lg">Send</button>
            </div>
          </div>
        </form>
        </div>
      </div>
  <% end %>
  </div>
</section>